In [1]:
import pandas as pd

In [2]:
may_19 = pd.read_csv("data/JC-201905-citibike-tripdata.csv")
june_19 = pd.read_csv("data/JC-201906-citibike-tripdata.csv")
july_19 = pd.read_csv("data/JC-201907-citibike-tripdata.csv")
aug_19 = pd.read_csv("data/JC-201908-citibike-tripdata.csv")
sept_19 = pd.read_csv("data/JC-201909-citibike-tripdata.csv")

may_20 = pd.read_csv("data/JC-202005-citibike-tripdata.csv")
june_20 = pd.read_csv("data/JC-202006-citibike-tripdata.csv")
july_20 = pd.read_csv("data/JC-202007-citibike-tripdata.csv")
aug_20 = pd.read_csv("data/JC-202008-citibike-tripdata.csv")
sept_20 = pd.read_csv("data/JC-202009-citibike-tripdata.csv")
sept_20.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,222,2020-09-01 00:15:58.6470,2020-09-01 00:19:40.8750,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1
1,193,2020-09-01 00:49:00.7370,2020-09-01 00:52:14.3640,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1
2,273,2020-09-01 00:51:44.5870,2020-09-01 00:56:17.7160,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1
3,1419,2020-09-01 00:52:48.3160,2020-09-01 01:16:28.0490,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1
4,254,2020-09-01 00:56:16.7170,2020-09-01 01:00:31.0870,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1

In [74]:
combined_df = pd.concat([may_19,june_19,july_19,aug_19,sept_19,may_20,june_20,july_20,aug_20,sept_20])
combined_df['date'] = pd.to_datetime(combined_df['starttime']).dt.date
combined_df['month'] = pd.to_datetime(combined_df['starttime']).dt.month
combined_df['year'] = pd.to_datetime(combined_df['starttime']).dt.year
combined_df.head(50)

combined_df.to_csv(r'data/full_data.csv', index = False)